<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.phonecall" version="1.0.0">
  <name>NH</name>
  <description>Countdown Begins.!</description>
  <author href="http://phonegap.com" email="nirav.soni@matrixcomsec.com">Nirav Soni</author>
  <content src="index.html"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>
